/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

@theme {
  /* --color-brand-1: "#ffb545",
  --color-brand-2: "#00c46a",
  --color-dark-0: "#242a2e",
  --color-dark-1: "#2d3439",
  --color-dark-2: "#42484d",
  --color-light-0: "#aaa",
  --color-light-1: "#ececec",
  --color-light-2: "#d6dee0", */
  --color-brand-1: oklch(0.78 0.12 85.5); /* #ffb545 converted */
  --color-brand-1: oklch(0.8243 0.1498 73.68); /* #ffb545 converted */
  --color-brand-2: oklch(0.73 0.15 155.2); /* #00c46a converted */
  --color-dark-0: oklch(0.16 0.01 240); /* #242a2e converted */
  --color-dark-1: oklch(0.19 0.01 240); /* #2d3439 converted */
  --color-dark-2: oklch(0.28 0.01 240); /* #42484d converted */
  --color-light-0: oklch(0.69 0 0); /* #aaa converted */
  --color-light-1: oklch(0.93 0 0); /* #ececec converted */
  --color-light-2: oklch(0.86 0.01 200); /* #d6dee0 converted */
}

@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer utilities {
  * {
    /* scrollbar-width: thin; */
    scrollbar-color: theme("colors.light.0") theme("colors.dark.0");
  }

  /* Working but without arrows......... */
  /* .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme("colors.dark.1"); 
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: theme("colors.brand.2"); 
    border-radius: 100vh;
    border: 3px solid theme("colors.brand.2");
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #007e43; 
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
    height: 100vh;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    border-radius: 40vh;
    background: theme("colors.dark.1");
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: theme("colors.brand.1");
    border-radius: 40vh;
    border: 3px solid theme("colors.brand.1");
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #c98218;
  } */

  /* Firefox scrollbar support */
  /* .scrollbar {
    scrollbar-width: auto;
    scrollbar-color: theme("colors.brand.1") theme("colors.dark.1");
  }

  .scrollbar-custom {
    scrollbar-width: auto;
    scrollbar-color: theme("colors.brand.1") theme("colors.dark.1");
  } */
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
::-webkit-scrollbar-button {
  display: block;
}
